

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}


html {
  background-color : #272727;
  color            : whitesmoke;
}


button {
  padding: 3px 6px;
  cursor: pointer;
}


.lesson-root { text-align: center; }

.component            { margin-top  : 4rem   ; }
.component .component { margin-left : 4rem   ; }
.component__name      { text-align  : center ; }


.navbar {
  background-color : #777777;
  /* display          : flex; */ /*Not needed if child inline-block*/
}

.navbar__link {
  display         : inline-block   ;
  padding         : 0.75rem 2.5rem ;
  text-decoration : none           ;
  color           : white        ;
  cursor          : pointer        ;
}


.navbar__link.active {
  background-color : #474747 ;
  
}

.navbar__link:hover {
  text-decoration: underline;
}